<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lookie.backend.domain.user.mapper.UserMapper">
    <!-- 1. 회원가입 -->
    <insert id="insertUser" parameterType="UserVO" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO users
            (password_hash, name, phone_number, email, birth_date)
        VALUES (#{passwordHash}, #{name}, #{phoneNumber}, #{email}, #{birthDate})
    </insert>

    <!-- 2. 로그인 및 정보 조회 -->
    <select id="findByPhoneNumber" parameterType="String" resultType="UserVO">
        SELECT * FROM users WHERE phone_number = #{phoneNumber}
    </select>

    <!-- 3. 전화번호 (아이디) 중복 확인 -->
    <select id="existByPhoneNumber" parameterType="String" resultType="Boolean">
        SELECT EXISTS (
            SELECT 1 FROM users WHERE phone_number = #{phoneNumber}
        )
    </select>

    <!-- 4. 이메일 중복 확인 -->
    <select id="existByEmail" parameterType="String" resultType="Boolean">
        SELECT EXISTS (
            SELECT 1 FROM users WHERE email = #{email}
        )
    </select>
</mapper>